/* main */
.about-info {
  margin-top: 50px;
  padding-top: 30px;
  
  p {
      color: #6c6c6c;
      font-size: 14px;
      font-weight: 100;
      line-height: 1.8;
  }
  
  a {
    &:hover {
      color: $orange;
    }
  }
}

.my-aboutme-wrapper {
  padding-top: 30px;
}

.my-skills-wrapper {
    padding-top: 10px;
    padding-bottom: 11px;
    
  .my-skill {
    position: relative;
    padding: 4px 40px 4px 80px;
    padding-right: 0;
    
    li {
      &:first-child {
        width: 64px;
        margin-left: -80px;
        text-align: right;
      }
    }
    
    .percent {
      max-width: 40px;
      margin-left: -4px;
      text-align: right;
      opacity: 0;
    }
    
    .show-percent {
      animation-name: percents;
      -webkit-animation-name: percents;
      -moz-animation-name: percents;
      -ms-animation-name: percents;
      -o-animation-name: percents;
      opacity: 1;
    }
    
    .show-percent {
      animation-duration: 6s;
      -webkit-animation-duration: 6s;
      -moz-animation-duration: 6s;
      -ms-animation-duration: 6s;
      -o-animation-duration: 6s;
      opacity: 1;
    }
    
    @keyframes percents {
      0% {
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    
    .progress-bar {
      background-color: $orange;
      //background: #966cc8ad;
      //background: #FAD1B0;
    }

    .graph-90 {
      height: 15px;
      width: 90%;
      background-color: lighten($orange, 10);
      opacity: 0;
    }
    
    .graph-80 {
      height: 15px;
      width: 80%;
      background-color: lighten($orange, 18);
      opacity: 0;
    }
    
    .graph-70 {
      height: 15px;
      width:70%;
      background-color: lighten($orange, 22);
      opacity: 0;
    }
        
    .move-90 {
      animation-name: progress90;
      -webkit-animation-name: progress90;
      -moz-animation-name: progress90;
      -ms-animation-name: progress90;
      -o-animation-name: progress90;
    }
    .move-80{
      animation-name: progress80;
      -webkit-animation-name: progress80;
      -moz-animation-name: progress80;
      -ms-animation-name: progress80;
      -o-animation-name: progress80;
    }
    .move-70{
      animation-name: progress70;
      -webkit-animation-name: progress70;
      -moz-animation-name: progress70;
      -ms-animation-name: progress70;
      -o-animation-name: progress70;
    }
    .move-90, .move-80, .move-70 {
      animation-duration: 6s;
      -webkit-animation-duration: 6s;
      -moz-animation-duration: 6s;
      -ms-animation-duration: 6s;
      -o-animation-duration: 6s;
      opacity: 1;
    }
  }
  
  @keyframes progress90 {
    0% {
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes progress80 {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes progress70 {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
}


// experience
.my-experience-wrapper {
  position: relative;
  padding-top: 40px;

  .my-experience-content {
    display: inline-block;
    position: relative;
    width: 258px;
    padding-top: 35px;
    padding-bottom: 55px;
    
    &:before {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 4px solid $orange;
      border-radius: 100%;
      content: '';
      z-index: 1;
    }
    
    ul {
      margin-top: 15px;
      color: #6c6c6c;
      font-size: 14px;
      font-weight: 100;
      line-height: 1.8;
    }
    
    li {
      display: block;
      margin-right: 0;
      padding-left: 15px;
    }
    
    strong {
      display: block;
      margin: 4px 0px;
      font-size: 2em;
    }
  }
  
  .my-bistel {
    top: 40px;
    right: -252px;
    padding-left: 25px;
    
    &:before {
      left: -10px;
    }
    
    li {
      padding-left: 15px;
      
      &:before {
        position: relative;
        top: -1px;
        left: -15px;
        margin-right: -10px;
        content: ' \2212';
      }
    }
  }
  
  .my-sbs {
    top: 25px;
    left: -10px;
    padding-right: 25px;
    text-align: right;
    
    &:before {
      right: -10px;
    }
    
    li {
      padding-right: 15px;

      &:after {
        position: relative;
        top: -1px;
        right: -15px;
        margin-left: -10px;
        content: ' \2212';
      }
    }
  }
  
  .my-nextree {
    top: 10px;
    right: -252px;
    padding-left: 25px;
    
    &:before {
      left: -10px;
    }
    
    li {
      padding-left: 15px;

      &:before {
        position: relative;
        top: -1px;
        left: -15px;
        margin-right: -10px;
        content: ' \2212';
      }
    }
  }
  
  .my-kosta {
    top: -5px;
    left: -10px;
    padding-right: 25px;
    text-align: right;
    
    &:before {
      right: -10px;
    }
    
    li {
      padding-right: 15px;

      &:after {
        position: relative;
        top: -1px;
        right: -15px;
        margin-left: -10px;
        content: ' \2212';
      }
    }
  }
  
  .ex-content1, .ex-content2,
  .ex-content3, .ex-content4 {
    opacity: 0; 
  }

  .show-content {
    animation-name: ex-content;
    -webkit-animation-name: ex-content;
    -moz-animation-name: ex-content;
    -ms-animation-name: ex-content;
    -o-animation-name: ex-content;
    opacity: 1;
  }

  .show-content {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    opacity: 1;
  }

  @keyframes ex-content {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  .my-experience-timeline {
    position: absolute;
    top: 40px;
    left: calc(50% - 2px);
    width: 4px;
    height: 1190px;
    background: #d4d4d4;
  }
  
  .timeline {
    width: 4px;
    height: calc(100% + 40px);
    opacity: 0;
  }

  .move-timeline {
    animation-name: timeline;
    -webkit-animation-name: timeline;
    -moz-animation-name: timeline;
    -ms-animation-name: timeline;
    -o-animation-name: timeline;
  }

  .move-timeline {
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    opacity: 1;
  }

  @keyframes timeline {
    0% {
      height: 0%;
    }
    100%{
      height: 1190px;
    }
  }
}



// xxx
@media screen and (max-width: 1056px) {
  .content {
    padding: 80px 30px;
  }
}

@media screen and (max-width: 640px) {
  .my-skills-wrapper {
    .my-skill {
      padding: 0;
      padding-bottom: 12px;
      
      li {
        &:first-child {
          width: 100%;
          text-align: left;
          margin-left: inherit;
          margin-bottom: 6px;
        }
      }
    }
  }
  
  .my-experience-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
    
    .my-experience-timeline {
      left: 0;
      height: calc(100% + 35px);
    }
    
    .my-bistel {
      position: initial;
      width: 100%;
      margin-top: 44px;
      
      &:before {
        left: -6px;
      }
    }
    
    .my-sbs {
      position: initial;
      width: 100%;
      padding-left: 25px;
      padding-right: 0;
      text-align: left;
      
      &:before {
        left: -6px;
      }

      li {
        padding-right: 0;
        padding-left: 15px;

        &:before {
          position: relative;
          top: -1px;
          left: -15px;
          margin-right: -10px;
          content: ' \2212';
        }

        &:after {
          display: none;
        }
      }
    }
    
    .my-nextree {
      position: initial;
      width: 100%;
      
      &:before {
        left: -6px;
      }
    }
    
    .my-kosta {
      position: initial;
      width: 100%;
      padding-left: 25px;
      padding-right: 0;
      text-align: left;
      
      &:before {
        left: -6px;
      }
       
      li {
        padding-right: 0;
        padding-left: 15px;

        &:before {
          position: relative;
          top: -1px;
          left: -15px;
          margin-right: -10px;
          content: ' \2212';
        }

        &:after {
          display: none;
        }
      }
    }
  }
  
  .posts-list>li .date {
    display: none;
  }
}

@media screen and (max-width: 542px) {
  .my-experience-wrapper {
    .my-bistel {
      top: -345px;
    }
  }
}

@media screen and (max-width: 460px) {
  .my-skills-wrapper {
    .my-skill {
      .progress-bar {
        height: 20px;
        margin-right: 0;
      }
      .percent {
        width: auto;
        margin-left: -34px;
        font-size: 11px;
        color: #fff;
      }
    }
  }
}



// ddd
.posts-list {
  .tags {
    li {
      padding: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $orange;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover {
        &:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
        }
      }

      a {
        display: inline-block;
        padding: 0.65em 1.3em;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

//portfolio
#portfolio {
  padding: 80px;
  font-size: 13px;
  line-height: 1.6em;
  overflow-y: auto;
}
.portfolio-wrapper {
  height: 100%;
  
  ul {
    list-style: none;
  }
  
  .block-right {
    position: fixed;
    right: 80px;
    top: 80px;
    width: 280px;
    height: 100%;
    overflow-y: hidden;
    
    li {
      position: relative;
      width: 29px;
      height: 29px;
      margin-right: 7px;
      margin-left: 6px;
    }
  
    dt {
      font-size: 2.5em;
    }

    dt, dd, ul {
      padding: 20px;
      border-bottom: 1px solid #e7e7e7;
    }
    
    ul {
      display: flex;
    }
    
    .language {
      li {
        border-radius: 2px;
        
        &:before {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 37px;
          height: 37px;
          padding: 6px 11px;
          font-size: 1.1em;
          font-weight: bold;
          border-radius: 2px;
        }
      }
      
      .ps {
        background-color: #6495ED;
        &:before {
          color: #fff;
          border: 1px solid #6495ED;
          content: 'Ps';
        }
      }
      
     .ai {
        background-color: #FF7F50;
        &:before {
          color: #fff;
          border: 1px solid #FF7F50;
          content: 'Ai';
        }
      }
      
     .xd {
        background-color: #DA70D6;
        &:before {
          color: #fff;
          border: 1px solid #DA70D6;
          font-size: 1em;
          content: 'Xd';
        }
      }
      
     .ae {
        background-color: #7B68EE;
        &:before {
          color: #fff;
          border: 1px solid #7B68EE;
          font-size: 1em;
          content: 'Ae';
        }
      }
      
      .html {
        width: 48px;
        background-color: #32CD32;
        &:before {
          width: 56px;
          color: #fff;
          border: 1px solid #32CD32;
          font-size: 1em;
          content: 'HTML';
        }
      }
    }
  }
  
  .block-left {
    width: calc(100% - 280px);
    padding-right: 30px;
    margin-bottom: 80px;
  }
} 
img.mfp-img {
  max-height: none !important;
  padding: 40px 200px;
}


//mi
.mi {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  
  .mi-header {
    width: 100%;
    height: 574px;
    background-color: #4194E0;
    
    dl {
      height: 100%;
      padding-top: 12em;
      color: #fff;
      text-align: center;
      line-height: 4em;
    }

    dt {
      font-size: 4em;
    }
  }
  
  .mi-desktop {
    position: relative;
    top: -259px;
    margin: auto;
    width: 88%;
  }
  
  .mi-body1, .mi-body2 {
    dl {
      display: inline-block;
    }
    
    dt {
      margin-bottom: 12px;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  
  .mi-body1 {
    position: relative;
    padding-top: 446px;
    padding-left: 150px;
    padding-right: 150px;
    
    dl {
      position: absolute;
      right: 150px;
      top: 554px;
      max-width: 310px;
      text-align: right;
    }
    
    ul, dl {
      display: inline-block;
    }
    
    li {
      width: 100px;
      height: 100px;
      padding: 39px 0px;
      border: 1px solid #eee;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      
      &:nth-child(1) {
        background-color: #fff;
        border-bottom: none;
      }
      
      &:nth-child(2) {
        background-color: #e3e3e3;
        border-bottom: none;
      }
      
      &:nth-child(3) {
        background-color: #c4c4c4;
      }
    }
    
    .mi-desktop {
      position: absolute;
      top: 533px;
      left: 135px;
      width: 130px;
      height: 130px;
      border: 15px solid #474747;
    }
  }
  
  .mi-body2 {
    position: relative;
    padding: 300px 70px 100px 70px;
    
    dl {
      margin-bottom: 40px;
    }
    
    li {
      display: inline-block;
      width: calc(50% - 12px);
      height: 216px;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
      background-repeat: no-repeat;
      
      &:nth-child(1) {
        margin-right: 20px;
        background-image: url(/images/portfolio/mi-data2.png);
        background-size: 88%;
        background-position: center 64px;
      }
      
      &:nth-child(2) {
        background-image: url(/images/portfolio/mi-data1.png);
        background-size: 67%;
        background-position: center 47px;
      }
      
      &:nth-child(3) {
        margin-right: 20px;
        background-image: url(/images/portfolio/mi-data3.png);
        background-size: 92%;
        background-position: center 66px;
      }
      
      &:nth-child(4) {
        background-image: url(/images/portfolio/mi-data4.png);
        background-size: 92%;
        background-position: center 69px;
      }
      
      span {
        display: block;
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}


//a3
.a3 {
  width: 100%;
  height: 100%;
  background-color: #fcfdff;
  border: 1px solid #eee;
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .a3-header {
    height: 600px;
    padding-top: 90px;
    background-color: #f1f5f9;
    
    .desktop {
      max-width: 640px;
      max-height: 425px;
      margin: 0 auto;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: 20px;
      border: 42px solid #fff;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .a3-body1 {
    padding: 45px 60px 0px 60px;
  }
  
  .a3-body3, .a3-body5 {
    padding: 0px 60px;
  }
  
  .a3-body2 {
    padding: 50px 60px 100px 60px;
  }
  
  .a3-body3 {
    padding-bottom: 100px;
  }
  
  .a3-body4 {
    h3 {
      padding: 0px 60px;
    }
  }
  
  .a3-body5 {
    padding-bottom: 50px;
  }
  
  .drill-down {
    position: relative;
    height: 360px;
    margin-top: 210px;
    transform: rotate(-30deg) skew(25deg) scale(0.65);
    
    img {
      position: absolute;
      width: 100%;
      transition: 0.5s;
      
      &:nth-child(4) {
        transform: translate(160px, -160px);
        opacity: 1;
      }
      &:nth-child(3) {
        transform: translate(120px, -120px);
        opacity: .8;
      }
      &:nth-child(2) {
        transform: translate(80px, -80px);
        opacity: .6;
      }
      &:nth-child(1) {
        transform: translate(40px, -40px);
        opacity: .4;
      }
      
      &:hover {
        transform: translate(120px, -120px);
        opacity: 1;
      }
    }
  }
  
  .drag-drop {
    display: block;
    width: 60%;
    margin: 50px auto 0px auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  }
  
  .sharing {
    position: relative;
    width: 100%;
    height: 680px;
    margin-top: 50px;
    
    img {
      position: absolute;
      display: inline-block;
      width: calc(47% - 2px);
      margin: 0px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
      
      &:nth-child(2) {
        right: 0;
        top: 50px;
      }
      &:nth-child(3) {
        left: 0px;
        top: 320px;
      }
      &:nth-child(4) {
        right: 0px;
        top: 370px;
      }
    }
  }
  
  .visualization {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #f1f5f9;
  }
  
  .sitemap {
    padding: 50px 0px;
  }

}

@media screen and (min-width: 1081px)  and (max-width: 1230px) {
  .mi {
    .mi-body1 {
      dl {
        max-width: 260px;
      } 
    }
  }
}

@media screen and (min-width: 1081px) and (max-width: 1170px) {
  .mi {
    .mi-body1 {
      padding-left: 100px;
      padding-right: 100px;
      
      dl {
        right: 100px;
      }
      
      .mi-desktop {
        left: 85px;
      }
    }
    
    .mi-body2 {
      .context-menu {
        left: 260px;
      }
    } 
  }
  
  .a3 {
    .sharing {
      height: 545px;
      
      img {
        &:nth-child(3) {
          top: 265px;
        }
        &:nth-child(4) {
          top: 315px;
        }
      }
    } 
  }
}

@media screen and (max-width: 1080px) {
  #portfolio {
    padding: 0px;
    
    .portfolio-wrapper {
      .block-right {
        display: none;
      }
      
      .block-left {
        width: 100%;
        padding: 30px;
        margin-bottom: 0px;
      }
    }
  }
  
  .mi {
    .mi-body2 {
       li {
          &:nth-child(1) {
            background-size: 72%;
            background-position: center 60px;
          }

          &:nth-child(2) {
            background-size: 56%;
            background-position: center 41px;
          }

          &:nth-child(3) {
            background-size: 83%;
            background-position: center 58px;
          }

          &:nth-child(4) {
            background-size: 82%;
            background-position: center 60px;
          }
      }
    }
  }
  
  .a3 {
    .sharing {
      height: 822px;
      
      img {
        &:nth-child(3) {
          top: 411px;
        }
        &:nth-child(4) {
          top: 461px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .a3 {
    .sharing {
      height: 717px;
      
      img {
        &:nth-child(3) {
          top: 358px;
        }
        &:nth-child(4) {
          top: 411px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .mi {
    .mi-body1 {
      padding-left: 80px;
      padding-right: 80px;
      
      dl {
        right: 80px;
      }
      
      .mi-desktop {
        left: 65px;  
      }
    }
  }
  
  .a3 {
    .drill-down {
      margin-top: 160px;
      transform: rotate(-30deg) skew(25deg) scale(0.55);
    }
    
    .a3-body2 {
      padding-top: 0;
    }
    
    .sharing {
      height: 598px;
      
      img {
        &:nth-child(3) {
          top: 294px;
        }
        &:nth-child(4) {
          top: 344px;
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .mi {
    .mi-body1 {
      dl {
        max-width: 250px;
      }
    }
    
    .mi-body2 {
      .context-menu {
        left: 226px;
      } 
    }
    
    .a3 {
      .drag-drop {
        width: 75%;
      } 
    }
  }
  
  .a3 {
    .a3-header {
      .desktop {
        margin-left: 45px;
        margin-right: 45px;
        border: 36px solid #fff;
      }
    }
    
    .a3-body1, .a3-body3, .a3-body5 {
      padding: 0px 30px;
    }
    
    .a3-body2 {
      padding: 0px 30px 100px 30px;
    }
    
    .a3-body4 {
      h3 {
        padding: 0px 30px; 
      }
    }
    
    .drill-down {
      padding-left: 20px;
      margin-top: 110px;
      transform: rotate(-30deg) skew(25deg) scale(0.5);
    }
  }
}

@media screen and (max-width: 640px) {
  .block-left {
    padding: 0px;
  }
  
  .mi {
    .mi-body2 {
      li {
        display: block;
        width: 100%;
      }
    }
  }
  
  .a3 {
    .a3-header {
      height: 520px;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
    
    .drag-drop {
      width: 100%;
    }
    
    .sharing {
      height: auto;
      margin-bottom: 132px;
      
      img {
        position: initial;
        width: 100%;
        
        &:nth-child(1) {
          margin-bottom: 30px;
        }
        &:nth-child(2) {
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          margin-bottom: 30px;
        }
      }
    } 
  }
}

@media screen and (max-width: 550px) {
  .a3 {
    .a3-header {
      .desktop {
        border: 25px solid #fff;
      }
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .a3 {
    .a3-header {
      height: 420px;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 455px) {
  .a3 {
    .drill-down {
      padding-left: 22%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .a3 {
    .drill-down {
      margin-top: 280px;
      padding-left: 36%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 360px) {
  .a3 {
    .a3-header {
      height: 240px;
      padding-top: 50px;
    }
    
    .drill-down {
      padding-left: 51%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 330px) {
  .a3 {
    .drill-down {
      padding-left: 65%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 300px) {
  .a3 {
    .drill-down {
      padding-left: 84%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 270px) {
  .a3 {
    .drill-down {
      padding-left: 98%;
    }
    
    .a3-body2 {
      padding-top: 0;
    }
  }
}

//fw
.fw {
  width: 100%;
  height: 100%;
  background-image: url(/images/portfolio/fw/fw-desktop.png);
  background-size: 100%;
  background-position: center 70px;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #eee;
  
  .explain {
      display: inline-block;
      width: calc(20% - 55px);
    
    h3 {
      margin-bottom: 12px;
      font-weight: bold;
    }
    span {
      font-size: 0.8em;
      line-height: 0.8em;
     }
  }
  
  .fw-body1 {
    float: left;
    padding-top: 130px;
    background-color: #f0f8ff;
    
    div {
      margin-left: 55px;
    }
    img {
      float: right;
      max-width: 80%;
    }
  }
  
  .fw-body2 {
    float: left;
    width: 100%;
    padding-top: 100px;
    background-color: #f0f8ff;
    
    div {
      float: right;
      width: calc(20% - 55px);
      margin-right: 70px;
      text-align: right;
    }
    
    h3 {
      margin-top: 10px;
    }
    
    ul {
      float: left;
      display: inline-block;
      width: 518px;
      margin-left: 60px;
    }
    li {
      position: relative;
      display: inline-block;
      width: 150px;
      height: 94px;
      margin: 10px;
      color: #fff;
      font-size: 0.8em;
      
      &:nth-child(1) {
        background-color: #9cb100;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(2) {
        background-image: linear-gradient(190deg, #999999, #9cb100);
        
        .bottom {
          position: absolute;
          bottom: 10px;
          left: 11px;
        }
        
        .top {
          position: absolute;
          right: 11px;
          top: 10px;
        }
      }
      &:nth-child(3) {
        background-image: linear-gradient(190deg, #9cb100, #999999);
        
        .bottom {
          position: absolute;
          bottom: 10px;
          left: 11px;
        }
        
        .top {
          position: absolute;
          right: 11px;
          top: 10px;
        }
      }
      &:nth-child(4) {
        background-color: #999999;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(5) {
        background-color: #000000;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(6) {
        background-color: #21b100;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(7) {
        background-color: #ffba00;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(8) {
        background-color: #ff3d3d;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
      &:nth-child(9) {
        background-color: #ff8519;
        
        span {
          position: absolute;
          top: 36px;
          left: 57px;
        }
      }
    }
  }
  
  .fw-body3 {
    float: left;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 70px;
    background-color: #f0f8ff;
    
    .explain {
      width: 100%;
      text-align: center;
    }
    
    .context-menu {
      img {
        width: 80%;
      }
    }
  }
  
  .fw-body4 {
    float: left;
    width: 100%;
    padding-top: 700px;
    margin-bottom: 200px;
    
    .explain {
      width: 100%;
      text-align: center;
    }
    
    ul {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      padding: 0 60px;
    }
    
    strong, p {
      display: block;
      text-align: center;
    }

    strong {
      margin-top: 10px;
      margin-bottom: 3px;
    }

    p {
      font-size: 0.8em;
    }
    
    .planning {
      width: 29%;
    }
    
    .design {
      width: 30%;
    }
    
    .publishing {
      width: 30%;
    }
  }
}

@media screen and (min-width: 1081px) and (max-width: 1230px) {
  .fw {
    .fw-body1, .fw-body2 {
      .explain {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
      }
      
      ul {
        float: initial;
        display: block;
        margin: 0 auto;
      }
      
      img {
        float: initial;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .fw {
    .fw-body2 {
      div {
        margin-right: 100px;
      }
      ul {
        margin-left: 100px;
      }
    }
    .fw-body4 {
      padding-top: 800px;
    }
  }
}

@media screen and (max-width: 910px) {
  .fw {
    .fw-body1, .fw-body2 {
      .explain {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
      }
      
      ul {
        float: initial;
        display: block;
        margin: 0 auto;
      }
      
      img {
        float: initial;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .fw {
    .fw-body2 {
      ul {
        width: 428px;
      }
      li {
        width: 120px;
        height: 80px;
        
        &:nth-child(1), &:nth-child(4),
        &:nth-child(5), &:nth-child(6),
        &:nth-child(7), &:nth-child(8),
        &:nth-child(9) {
          span {
            position: absolute;
            top: 30px;
            left: 42px;
          } 
        }
      }
    }
  }
}
@media screen and (max-width: 510px) {
  .fw {
    .fw-body2 {
      ul {
        width: 338px;
      }
      li {
        width: 90px;
        height: 65px;
        
        &:nth-child(1), &:nth-child(4),
        &:nth-child(5), &:nth-child(6),
        &:nth-child(7), &:nth-child(8),
        &:nth-child(9) {
          span {
            position: absolute;
            top: 22px;
            left: 28px;
          } 
        }
      }
    }
  }
}